<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12 mt-5">
       <div class="search">
      <%= form_with url: user_contact_books_path(current_user.id), method: :get, local: true do |f|  %>
      <%= f.text_field :search %>
      <%= f.submit 'date of use Search', name: nil %>
      <%end%>
      </div>

       <h1 class="title font-weight-bold"><i class="fas fa-fish"></i>Record list</h1>

        <div class="row">
          <% @contact_books.each do |contact_book| %>
            <div class="col-6 col-sm-4 col-md-2">
              <div class="card mb-2">
                <%= link_to user_contact_book_path(@user.id, contact_book.id) do %>
                  <%= image_tag contact_book.get_contact_book_image(300,300), class:"card-img-top img-fluid contact-book-card-image" %>
                  <div class="card-body">
                    <i class="fas fa-fish"></i><%= link_to contact_book.use_day, user_contact_book_path(@user.id, contact_book.id) %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
  <%= paginate @contact_books %>
</div>

