<div class="container">
  <h2 class="text-center font-weight-bold">Detailed record</h2>
 <div class="row d-flex justify-content-center">
 	<div class="col-sm-9">
  <table class="table table-back">
    <thead>
      <tr>
        <tr><th class="table-title">利用日</th></tr><tr><td><%= @contact_book.use_day %></td></tr>
        <tr><th class="table-title">利用開始時間</th></tr><tr><td><%= @contact_book.start_use_time %></td></tr>
        <tr><th class="table-title">利用終了時間</th></tr><tr><td><%= @contact_book.finish_use_time %></td></tr>
        <tr><th class="table-title">形態</th></tr><tr><td><%= @contact_book.is_active %></td></tr>
        <tr><th class="table-title">画像</th></tr><tr><td><%= image_tag @contact_book.get_contact_book_image(500,500), class: 'img-fluid d-block mx-auto' %></td></tr>
        <tr><th class="table-title">食事</th></tr><tr><td><%= @contact_book.eat %></td></tr>
        <tr><th class="table-title">個人活動</th></tr><tr><td><%= @contact_book.private_active %></td></tr>
        <tr><th class="table-title">集団活動</th></tr> <tr><td><%= @contact_book.group_active %></td></tr>
        <tr><th class="table-title">保護者への連絡</th></tr><tr><td><%= @contact_book.connection %></td></tr>
      </tr>
    </thead>
  </table>
  </div>
  </div>
  <div class= "text-center">
  <%= link_to "Back to", user_contact_books_path(current_user.id), class: "btn btn-sm btn-secondary" %>
</div>