<div class="container">
  <div class="row">
    <div class="col-md-12">

<h2 class="text-left font-weight-bold">Chat room</h2>
<div class="talk overflow-auto" id="area">
<% if @chats.blank? %>
  <p>メッセージはありません</p>
<% else %>
  <p>更新すると最新コメントが表示</p>
  <div class ="clearfix">
  <div class="overflow-auto" id="area">
  <% @chats.each do |chat| %>

    <%# 先生版 %>
    <% unless chat.teacher.nil? %>
      <div class ="talk_left clearfix">
        <p>
        <% if chat.teacher.teacher_name %>
          <%= "#{chat.teacher.teacher_name} 先生" %>:
        <% else %>
          先生:
        <% end %>
        <%=chat.message %>
        <br>
        </p>
      </div>
    <% end %>

    <%# 保護者版 %>
    <% unless chat.user.nil? %>
      <div class ="talk_right clearfix">
        <p>
        <% if chat.user.full_name %>
          <%= "#{chat.user.full_name} さん" %>:
        <% else %>
          未設定:
        <% end %>
        <%= chat.message %>
        <br>
        </p>
      </div>
    <% end %>

  <% end %>
  </div>
  </div>
<% end %>
</div>
<p></p>
<div class= "text-left">
<%= form_with model: @chat, url: chats_path(room_id: params[:id]), method: :post, local: false do |f| %>
  <%= f.text_area :message, class: "area-a" %>
  <%= f.submit "Create",class: "btn btn-info" %>
<% end %>
</div>
<div class= "text-left">
<%= link_to "Back to record list", user_contact_books_path(current_user.id), class: "btn btn-sm btn-secondary" %>
</div>
    </div>
  </div>
</div>
