<div class='container'>
<h1 class="text-left font-weight-bold">User list</h1>
 <div class='row col-sm-8'>
<div class="search">
<%= form_with url: admin_users_path, method: :get, local: true do |f|  %>
<%= f.collection_select(:user_id, User.all, :id, :full_name, prompt: "選択してください") %>
<%= f.submit 'Search', name: nil %>
<%end%>
 </div>
 </div>
 <p></p>
 <div class='row col-sm-8'>
<table class = "table table-back">
  <thead>
    <tr>
      <th class = "table-title">User.ID</th>
      <th class = "table-title">User.name</th>
      <th class = "table-title">Record list</th>
      <th class = "table-title">Access to chat room</th>
    </tr>
  </thead>

  <tbody>
      <% @users.each do |user| %>
       <tr>
       	<td><%= user.id %></td>
        <td><%= link_to user.full_name, admin_user_path(user.id) %></td>
        <td> <%= link_to "Record list", admin_user_contact_books_path(user.id), class: "btn btn-sm btn-info" %></td>
        <td><%= link_to 'Chat room', admin_rooms_path(user_id: user.id), method: :post, class: "btn btn-sm btn-success" %></td>
       <% end %>
   </tbody>
  </table>
  </div>
  </div>