<div class="container col-sm-6">
  <h2 class="text-left font-weight-bold"><%= @user.full_name %>.Registration information</h2>
  <div class="row-justify-content-center">
    <div class"col-xs-offset-11 col-xs-5">

  <table class="table table-bordered">
    <tbody>
    <tr>
      <th>User.ID</th>
      <td class="text-center"><%= @user.id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td class="text-center"><%= @user.full_name %></td>
    </tr>
    <tr>
      <th>Kana</th>
      <td class="text-center"><%= @user.full_name_kana %></td>
    </tr>
    <tr>
      <th>Post code</th>
      <td class="text-center"><%= @user.postal_code %></td>
    </tr>
    <tr>
      <th>Adress</th>
      <td class="text-center"><%= @user.address %></td>
    </tr>
    <tr>
      <th>Phone number</th>
      <td class="text-center"><%= @user.phone_number %></td>
    </tr>
    <tr>
      <th>Email address</th>
      <td class="text-center"><%= @user.email %></td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <%= link_to "To edit", edit_admin_user_path(@user), class: "btn btn-sm btn-success" %>
    <%= link_to "Back to user list", admin_users_path, class: "btn btn-sm btn-secondary" %>
  </div>
</div>
</div>
</div>