<div class="container">
  <h2>
    <%= @user.full_name %>さんの個人情報
  </h2>
  <table class="table">
    <tr>
      <th>会員ID</th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th>氏名</th>
      <td><%= @user.full_name %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td><%= @user.full_name_kana %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @user.postal_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @user.address %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @user.phone_number %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
  </table>
  <div class="text-center">
    <%= link_to "編集する", edit_admin_user_path(@user), class: "btn btn-sm btn-success" %>
    <%= link_to "利用者一覧に戻る", admin_users_path, class: "btn btn-sm btn-secondary" %>
  </div>
</div>