<h2 class="text-center font-weight-bold">Edit member information</h2>

<div class="container">
    <div class="ml-4 table-back">
      <%= form_with model: @user do |f| %>

  　　    <div class="form-group row">
　　      <%= f.label "Name(first,last)", class: "col-2" %>
　　      <%= f.text_field :last_name, autofocus: true, class: "col-3" %>
          <%= f.text_field :fast_name, class: "col-3" %>
        </div>

        <div class="form-group row">
　　      <%= f.label "Kana", class: "col-2" %>
　　      <%= f.text_field :last_name_kana, class: "col-3" %>
          <%= f.text_field :fast_name_kana, class: "col-3" %>
        </div>

        <div class="form-group row">
　　      <%= f.label "Adress", class: "col-2" %>
　　      <%= f.text_field :address, class: "col-5" %>
        </div>

        <div class="form-group row">
　　      <%= f.label "Post code", class: "col-2" %>
　　      <%= f.text_field :postal_code %>
        </div>

        <div class="form-group row">
　　      <%= f.label "Phone number", class: "col-2" %>
　　      <%= f.text_field :phone_number %>
        </div>

        <div class="form-group row">
　　      <%= f.label "Email", class: "col-2" %>
　　      <%= f.text_field :email %>
        </div>

        <div class="row justify-content-center mt-4">
          <%= f.submit "Save your edits",class: "btn btn-success" %>
        </div>
    <% end %>
    <div class="row justify-content-center mt-4">
    <%= link_to "Back to My page", user_path(current_user), class: "btn btn-sm btn-info" %>
    </div>
    </div>
    </div>