<div class="container col-sm-6">
  <h2 class="text-center font-weight-bold">Registration information</h2>
  <div class="row-justify-content-center">
    <div class"col-xs-offset-11 col-xs-5">
      <table class="table table-bordered">
         <tbody class="table-back">
           <tr>
            <th><i class="fas fa-fish"></i> Name</th>
            <td class="text-center"> <%= @user.full_name %></td>
          </tr>
          <tr>
            <th><i class="fas fa-fish"></i> Kana</h>
            <td class="text-center"><%= @user.full_name_kana %></td>
          </tr>
          <tr>
            <th><i class="fas fa-fish"></i> Post code</th>
            <td class="text-center"><%= @user.address %></td>
          </tr>
          <tr>
            <th><i class="fas fa-fish"></i> Adress</th>
            <td class="text-center"><%= @user.postal_code %></td>
          </tr>
          <tr>
            <th><i class="fas fa-fish"></i> Phone number</th>
            <td class="text-center"><%= @user.phone_number %></td>
          </tr>
          <tr>
            <th><i class="fas fa-fish"></i>Email address</th>
            <td class="text-center"><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
      </div>
      </div>
      <div class="row justify-content-center col-sm-2">
        <% if @user.last_name != "guestuser" %>
        <%= link_to "To edit", edit_user_path(@user), class: "btn btn-success btn-block" %>
        <% end %>
</div>
</div>