<h2>マイページ</h2>
  <h4>登録情報</h4>
  <div>
    氏名<%= @user.last_name %><%= @user.fast_name %>
  </div>
  <div>
    カナ<%= @user.last_name_kana %><%= @user.fast_name_kana %>
  </div>
  <div>
    郵便番号<%= @user.postal_code %>
  </div>
  <div>
    住所<%= @user.address %>
  </div>
  <div>
    電話番号<%= @user.phone_number %>
  </div>
  <div>
    メールアドレス<%= @user.email %>
  </div>

  <%= link_to '編集する', edit_user_path(@user), class: "btn btn-sm btn-success" %>