<!DOCTYPE html>
<html>
  <head>
    <title>Swimmy1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00ced1;">
    <div class="container">
      <%= link_to root_path, class: 'nav-link text-dark' do %>
       <i class="fas fa-fish"></i><i class="fas fa-fish"></i>Swimmy Contact Book<i class="fas fa-fish"></i> <i class="fas fa-fish"></i>
      <%end%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>

    <li class="nav-item">
      <%= link_to user_path(current_user), class: 'nav-link text-dark' do %>
      <i class="fas fa-home"></i>My pape
      <%end%>
    </li>

    <li class="nav-item">
      <%= link_to user_contact_books_path(current_user.id), class: 'nav-link text-dark' do %>
      <i class="fas fa-book-open"></i>Record list
      <%end%>
    </li>

     <li class="nav-item">
      <%= link_to rooms_path(current_user.id), class: 'nav-link text-dark' do %>
      <i class="fas fa-comments"></i>Chat room
      <%end%>
    </li>

    <li class="nav-item">
      <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
      <i class="fas fa-sign-out-alt"></i>Log out
      <%end%>
    <% elsif teacher_signed_in? %>

    <li class="nav-item">
      <%= link_to admin_users_path, class: 'nav-link text-dark' do %>
      <i class="fas fa-users"></i>User list
    </li>
    <%end%>

    <li class="nav-item">
      <%= link_to destroy_teacher_session_path, method: :delete, class: 'nav-link text-dark' do %>
      <i class="fas fa-sign-out-alt"></i>Log out
    </li>
      <%end%>
    <% else %>

    <li class="nav-item">
        <%= link_to about_path, class: 'nav-link text-dark' do  %>
        <i class="fas fa-link"></i>About
        <%end%>
    </li>

    <li class="nav-item">
      <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
        <i class="fas fa-sign-in-alt"></i>Log in
        <% end %>
    </li>

    <li class="nav-item">
        <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
        <i class="fas fa-user-plus"></i>Sign up
        <%end%>
    </li>

    <% end %>
  </ul>
  </div>
  </div>
  </nav>
  </header>
    <%= yield %>
    <footer class="fixed-bottom">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <div>
            <p class="text-light"><i class="fas fa-fish"></i>Swimmy Contact Book.inc <i class="fas fa-fish"></i></p>
          </div>
        </div>
        <div class="container">
          <div class="text-white">
            <h6 class="font-weight-bold">~guide~<h6>
            <div class="row"><%= link_to "Home", root_path, class: 'nav-link text-light' %></div>
            <div class="row"><%= link_to "About", about_path, class: 'nav-link text-light' %></div>
          </div>
        </div>
      </nav>
    </footer>
  </body>
</html>
